<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
    <h1>Welcome to Text Analyzer</h1>

    <form action="/analyze" method="get">
        <textarea name="text" placeholder="Enter Your text here.."></textarea> <br>
        <input type="checkbox" name="removepunc">Remove Punctuations</input> <br>
        <input type="checkbox" name="capitalize"> UPPER CASE</input> <br>
        <input type="checkbox" name="newlineremove"> New Line Remover</input> <br>
        <input type="checkbox" name="extraspaceremover"> Extra Space Remover</input> <br>

        <button type="submit">Analyze Text</button>
    </form>
</body>
</html>